<!DOCTYPE html>
<html>
  <head>
    <title> BeatHaven</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3B4xPXHceueLqBs61hCq406dKVqmiQ1766320f7A5B75z0f75640008y76z57Q" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/h_style.css"
     
  </head>
  <body>
      <section class="gen">
<div>
      <div class="container">
          
          <header class="header">
              <div class="logo"><img src="/static/images/2/x2.png" 
                                    style=" object-fit:contain;
                                    max-width: 30%"></div>
              <nav class="navbar">
                  
                  <a href="#">About Us</a>
                  <a href="/templates/base.html">Discover More</a>
                  <a href="/Contact_us">Contact Us</a>
                  <a href="/profile">profile</a>
                  
              </nav>
          </header>

          <main class="content">
              <table style=" align: center; margin-right: -1%;  ">
                  <tr>
             <td> <div class="text">
                  <h1 >Discover your perfect soundtract with <span>BeatHaven</span></h1>
                  <p>At BeatHaven, we connect you with music that speaks to your soul.
                  Experience Personalized playlists and discover new artists tailored just for you.</p>
                  <div class="buttons">
                      <button class="explore-btn">Explore</button>
                      <button class="contact-btn">Contact Us</button>
                  </div>
              </div></td>
                      <td>
                          <img src="/static/images/1/j1.jpg" 
                              style="max-width: 92%;
                              max-height: 1300px;
                              border-radius: 45px; 
                              ">
                      </td>
                      </tr>
                  </table>
          </main>
      </div>
</div>
</section>
    <div class="container1 ">
      <section class="content-section">
          <div class="text-content">
              <h1>BeatHaven: Your <br> <span>Personalized</span><br>
                 Music Paradise</h1>
              <p>At BeatHaven, we understand that music is personal. Our unique algorithm curates a selection of songs, artists, and playlists tailored just for you.
                Discover a world of music tailored to your taste. 
              </p>
              <div class="features">
                  <div class="feature">
                      <h3>Personalized Experience</h3>
                      <p>Take our quiz to unlock a world of music that resonates with you.</p>
                  </div>
                  <div class="feature">
                      <h3>Endless Discovery</h3>
                      <p>Explore new genres and artists that you never knew you would love.</p>
                  </div>
              </div>
          </div>
            
      </section>

    </div>

    <div >
        <img src="/static/images/2/s1.png" style="max-width: 80%;
                                                 height: 85vh;
                                                   object-position: center; 
                                                   margin-left:10%;
                                                   border-radius: 20px;
                                                   margin-bottom: 7%;">
    </div>
<div class="features" >
    <div class="feature col-md-5" >

        <img src="/static/images/1/s3.png" style="max-width: 60%;
                                                    
                                                    margin-left:10%;
                                                    border-radius: 10px;
                                                    margin-top: 10%;"">

    </div>
    <div class="feature col-md-7">
        <img src="/static/images/1/g1.jpg" style="max-width: 40%;""
                                                    >
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C8fC4PrqlPXHcL7538c704r0971607508598D339791975603770650852503511"   
    crossorigin="anonymous"></script>
    
    
  </body>
</html>